<div>
  <div>
    <h1>
      List of all events players
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new events player
    </h2>

    <form action="/insert_events_player" method="post">
      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id">
      </div>

      <div>
        <label for="team_box">
          Team
        </label>

        <input type="text" id="team_box" name="query_team">
      </div>

      <div>
        <label for="player_id_box">
          Player
        </label>

        <input type="text" id="player_id_box" name="query_player_id">
      </div>

      <button>
        Create events player
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event
        </th>

        <th>
          Team
        </th>

        <th>
          Player
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events_players.each do |an_events_player| %>
      <tr>
        <td>
          <%= an_events_player.id %>
        </td>

        <td>
          <%= an_events_player.event_id %>
        </td>

        <td>
          <%= an_events_player.team %>
        </td>

        <td>
          <%= an_events_player.player_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_events_player.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_events_player.updated_at) %> ago
        </td>

        <td>
          <a href="/events_players/<%= an_events_player.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
