<div>
  <div>
    <h1>
      Events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="game_id_box">
          Game
        </label>

        <select name="query_game_id" id="game_id_box">

        <% @list_of_games.each do |a_game| %>
          <option value="<%= a_game.id %>">
            <%= a_game.title %>
          </option>
        <%end%>
        </select>
      </div>
      
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="date_target_box">
          Target date (desired play by date)
        </label>

        <input type="date" id="date_target_box" name="query_date_target">
      </div>

      <div>
        <label for="date_deadline_box">
          Deadline date (play by deadline)
        </label>

        <input type="date" id="date_deadline_box" name="query_date_deadline">
      </div>

      <div>
        <input type="hidden" value="created" id="status_box" name="query_status">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Game
        </th>

        <th>
          Description
        </th>

        <th>
          Funding Goal
        </th>

        <th>
          Funds Raised
        </th>

        <th>
          Target Date
        </th>

        <th>
        Show Details
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>

        <td>
          <%= an_event.title %>
        </td>

        <td>
          <%= an_event.game.title %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <%= an_event.funding_target %>
        </td>

        <td>
          <%= "placeholder" %>
        </td>

        <td>
          <%= an_event.date_target %>
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
