<div>
  <div>
    <h1>
      Events
    </h1>
  </div>
</div>

<hr>

<% if @current_user != nil %>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="game_id_box">
          Game
        </label>

        <select name="query_game_id" id="game_id_box">

        <% @list_of_games.each do |a_game| %>
          <option value="<%= a_game.id %>">
            <%= a_game.title %>
          </option>
        <%end%>
        </select>
      </div>
      
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="date_target_box">
          Target date (desired play by date)
        </label>

        <input type="date" id="date_target_box" name="query_date_target">
      </div>

      <div>
        <label for="date_deadline_box">
          Deadline date (play by deadline)
        </label>

        <input type="date" id="date_deadline_box" name="query_date_deadline">
      </div>

      <div>
        <input type="hidden" value="created" id="status_box" name="query_status">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>

<% end %>

<h3> <%= @table_header %> </h3>

<div> 
  <div style="float: left;"> 
      <a href="/events?filter=all">All Events</a>  |  
      <% if @current_user != nil %>
      <a href="/events?filter=my_events">My Events</a>  |  
      <% end %>
      <a href="/events?filter=funded_upcoming">Upcoming Events</a>  |  
      <a href="/events?filter=so_close">Nearly Funded Events</a>  | 
      <a href="/events?filter=past">Past Events</a>
  </div>

  <!-- Give users the ability to filter the events table by game -->
  <div style="float: right;">
  <% if @list_of_games.present? %>
    <form action="/events/filter_by_game" method="get">
      <label for="game_id_box">Filter by Game</label>
      <select id="game_id_box" name="query_game_id">
        <!-- Include an "ALL" option for clearing the filter -->
        <option value="">ALL</option>
        <% @list_of_games.each do |a_game| %>
          <!-- Use the 'selected' attribute to maintain the selected game after filter -->
          <option value="<%= a_game.id %>" <%= 'selected' if a_game.id.to_s == params[:query_game_id] %>>
            <%= a_game.title %>
          </option>
        <% end %>
      </select>
      <button type="submit">Filter</button>
      <% if params[:query_game_id].present? %>
        <!-- 'Clear Filters' button, conditionally displayed when a filter is active -->
        <a href="/events">
          <button type="button">Clear Filters</button>
        </a>
      <% end %>
    </form>
  <% end %>
  </div>

  <div style="clear: both;"></div>
</div>


<div>
  <div>
    <% if params[:filter] == 'my_events' && @current_user %>

      <% if @list_of_created_events.any? %>
        <h3>Events You Created</h3>
        <table border="1">
          <tr>
            <th>Title</th>
            <th>Game</th>
            <th>Description</th>
            <th>Funding Goal</th>
            <th>Funds Raised</th>
            <th>Target Date</th>
            <th>Show Details</th>
          </tr>

          <% @list_of_created_events.each do |an_event| %>
            <tr>
              <td><%= an_event.title %></td>
              <td><%= an_event.game.title %></td>
              <td><%= an_event.description %></td>
              <td><%= an_event.funding_target %></td>
              <td><%= an_event.donations.sum(:donation) %></td>
              <td><%= an_event.date_target.strftime('%m/%d/%y') %></td>
              <td><a href="/events/<%= an_event.id %>">Show details</a></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>You have not created any events.</p>
      <% end %>

      <% if @list_of_supported_events.any? %>
        <h3>Events You're Supporting</h3>
        <table border="1">
          <tr>
            <th>Title</th>
            <th>Game</th>
            <th>Description</th>
            <th>Funding Goal</th>
            <th>Funds Raised</th>
            <th>Target Date</th>
            <th>Show Details</th>
          </tr>

          <% @list_of_supported_events.each do |an_event| %>
            <tr>
              <td><%= an_event.title %></td>
              <td><%= an_event.game.title %></td>
              <td><%= an_event.description %></td>
              <td><%= an_event.funding_target %></td>
              <td><%= an_event.donations.sum(:donation) %></td>
              <td><%= an_event.date_target.strftime('%m/%d/%y') %></td>
              <td><a href="/events/<%= an_event.id %>">Show details</a></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>You are not supporting any events.</p>
      <% end %>

    <% else %>

      <table border="1">
        <tr>
          <th>Title</th>
          <th>Game</th>
          <th>Description</th>
          <th>Funding Goal</th>
          <th>Funds Raised</th>
          <th>Target Date</th>
          <th>Show Details</th>
        </tr>

        <% @list_of_events.each do |an_event| %>
          <tr>
            <td><%= an_event.title %></td>
            <td><%= an_event.game.title %></td>
            <td><%= an_event.description %></td>
            <td><%= an_event.funding_target %></td>
            <td><%= an_event.donations.sum(:donation) %></td>
            <td><%= an_event.date_target.strftime('%m/%d/%y') %></td>
            <td><a href="/events/<%= an_event.id %>">Show details</a></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<hr>


<hr>
