<div>
  <div>
      <% if @the_event.status == 'complete' %>
        <h1>Completed Event Details</h1>
      <%else%>
      <h1>
      Event Details
      </h1>
      <% end %> 

    <div>
      <a href="/events">Go back</a>
    </div>

    <% if@current_user&.admin? || @current_user != nil && @current_user.id == @the_event.creator_id %>
      <div>
        <a href="/delete_event/<%= @the_event.id %>">Delete event</a>
      </div>
    <% end %>

    <table>
      <tr>
        <th>Title</th>
        <td><%= @the_event.title %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= @the_event.description %></td>
      </tr>
      <tr>
        <th>Date target</th>
        <td><%= @the_event.date_target.strftime('%m/%d/%y') %></td>
      </tr>
      <tr>
        <th>Date deadline</th>
        <td><%= @the_event.date_deadline.strftime('%m/%d/%y') %></td>
      </tr>
      <tr>
        <th>Game</th>
        <td><%= @game.title %></td>
      </tr>
      <tr>
        <th>Team 1</th>
        <td><%= @team_1_players %></td>
      </tr>
      <tr>
        <th>Team 2</th>
        <td><%= @team_2_players %></td>
      </tr>
      <tr>
        <th>Watch details</th>
        <td><a href="<%= @the_event.watch_details %>" target="_blank"> <%= @the_event.watch_details %> </a></td>
      </tr>
      <% if @the_event.status == "complete" %>
        <tr>
          <th>Battle report</th>
          <td><%= @the_event.battle_report %></td>
        </tr>
        <tr>
          <th>Winning team</th>
          <td><%= @winning_team_nicknames %></td>
        </tr>
        <tr>
          <th>Losing team</th>
          <td><%= @losing_team_nicknames %></td>
        </tr>
      <% end %>
    </table>

    <hr>

    <div>
      <h2>Funding</h2>
      <p>Target: <%= @the_event.funding_target %></p>
      <p>Current funding: <%= @funds_raised %></p>

      <% if @current_user != nil  %>
        <p>Your funding: <%= @your_funds_raised %></p>
      <% end  %>

      <% if @current_user != nil %>
        <h3>Donate</h3>
        <form action="/insert_donation" method="post">

          <input type="hidden" name="query_event_id" value="<%= @the_event.id %>">
          <input type="hidden" name="query_donator_id" value="<%= @current_user.id %>">

          <label for="donation_amount">Amount:</label>
          <input type="number" id="query_donation_amount" name="query_donation_amount" min="1" step="any">

          <button type="submit">Donate</button>
        </form>
      <% end %>
    </div>

    <div>
      <div>

        <% if@current_user&.admin? || @current_user != nil && @current_user.id == @the_event.creator_id %>

          <div>
            <h2>
              Edit event
            </h2>
            <p><i>Note: If you need to edit the players / teams involved in this event, please delete the event and create a new one.</i></p>
          </div>

          <div>
            <form action="/modify_event/<%= @the_event.id %>"  method="post" >
              <div>
                <label for="title_box">
                  Title
                </label>

                <input type="text" id="title_box" name="query_title" value="<%= @the_event.title %>">
              </div>

              <div>
                <label for="description_box">
                  Description
                </label>

                <textarea id="description_box" name="query_description"><%= @the_event.description %></textarea>
              </div>

              <div>
                <label for="funding_target_box">
                  Funding target
                </label>

                <input type="text" id="funding_target_box" name="query_funding_target" value="<%= @the_event.funding_target %>">
              </div>

              <div>
                <label for="date_target_box">
                  Date target
                </label>

                <input type="date" id="date_target_box" name="query_date_target" value="<%= @the_event.date_target %>">
              </div>

              <div>
                <label for="date_deadline_box">
                  Date deadline
                </label>

                <input type="date" id="date_deadline_box" name="query_date_deadline" value="<%= @the_event.date_deadline %>">
              </div>

              <div>
                <input type="hidden" id="creator_id_box" name="query_creator_id" value="<%= @the_event.creator_id %>">
              </div>

              <div>
                <label for="game_id_box">
                  Game
                </label>

                <select name="query_game_id" id="game_id_box">
                  <% @list_of_games.each do |a_game| %>
                    <option value="<%= a_game.id %>" <%= 'selected' if @the_event.game_id == a_game.id %>>
              <%= a_game.title %>
            </option>
                    <% end %>
                  </select>
                </div>

                <div>
                  <label for="watch_details_box">
                    Watch details
                  </label>

                  <textarea id="watch_details_box" name="query_watch_details"><%= @the_event.watch_details %></textarea>
                </div>

                <% if @current_user&.admin? %>
                  <div>
                    <label for="battle_report_box">
                      Battle report
                    </label>

                    <textarea id="battle_report_box" name="query_battle_report"><%= @the_event.battle_report %></textarea>
                  </div>

                  <div>
                    <label for="winning_team_box">
                      Winning Team
                    </label>

                    <select name="query_winning_team_id" id="winning_team_box">
                      <option value=""></option>
                      <% (1..2).each do |team| %>
                        <option value="<%= team %>" <%= 'selected' if @the_event.winning_team == team %>>
        Team <%= team %>: <%= EventsPlayer.where(event_id: @the_event.id, team: team).map { |ep| Player.find(ep.player_id).nickname }.join(", ") %>
      </option>
                        <% end %>
                      </select>
                    </div>

                  <% end %>

                  <button>
                    Update event
                  </button>
                </form>
              <%end%>
            </div>
          </div>

        </div>
      </div>
