<div>
  <div>
    <h1>
      List of all players
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new player
    </h2>

    <form action="/insert_player" method="post">
      <div>
        <label for="nickname_box">
          Nickname
        </label>

        <input type="text" id="nickname_box" name="query_nickname">
      </div>

      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio" rows="3"></textarea>
      </div>

      <div>
        <label for="main_game_box">
          Primarily plays?
        </label>

        <select name="query_main_game" id="main_game_box">

          <% @list_of_games.each do |a_game| %>
            <option value="<%= a_game.id %>">
              <%= a_game.title %>
            </option>
          <%end%>
        </select>
      </div>

      <!-- Additional Games -->
      <label for="additional_games_box">
        (Optional) Also plays?
      </label>
      <select name="query_additional_games[]" id="additional_games_box" multiple>
        <% @list_of_games.each do |a_game| %>
          <option value="<%= a_game.id %>">
            <%= a_game.title %>
          </option>
        <% end %>
      </select>

      <div>
        <label for="event_minimum_box">
          Event minimum
        </label>

        <input type="text" id="event_minimum_box" name="query_event_minimum">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <div>
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="text" id="phone_number_box" name="query_phone_number">
      </div>

      <div>
        <label for="twitch_box">
          Twitch
        </label>

        <input type="text" id="twitch_box" name="query_twitch">
      </div>

      <div>
        <label for="youtube_box">
          YouTube
        </label>

        <input type="text" id="youtube_box" name="query_youtube">
      </div>

      <div>
        <label for="twitter_box">
          Twitter
        </label>

        <input type="text" id="twitter_box" name="query_twitter">
      </div>

      <div>
        <label for="liquipedia_box">
          Liquipedia
        </label>

        <input type="text" id="liquipedia_box" name="query_liquipedia">
      </div>

      <button>
        Create player
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Nickname
        </th>

        <th>
          Dob
        </th>

        <th>
          Bio
        </th>

        <th>
          Main Game
        </th>

        <th>
          Event minimum
        </th>

        <th>
          Show Details
        </th>
      </tr>

      <% @list_of_players.each do |a_player| %>
        <tr>

          <td>
            <%= a_player.nickname %>
          </td>

          <td>
            <%= a_player.dob %>
          </td>

          <td>
            <%= a_player.bio %>
          </td>

          <td>
            <%= a_player.main.title %>
          </td>

          <td>
            <%= a_player.event_minimum %>
          </td>

          <td>
            <a href="/players/<%= a_player.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
