<div>
  <div>
    <h1>
      <%= @the_player.nickname %>'s details
    </h1>

    <div>
      <div>
        <a href="/players">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_player/<%= @the_player.id %>">
          Delete player
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Nickname
      </dt>
      <dd>
        <%= @the_player.nickname %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_player.dob %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_player.bio %>
      </dd>

      <dt>
        Event minimum
      </dt>
      <dd>
        <%= @the_player.event_minimum %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_player.email %>
      </dd>

      <dt>
        Phone number
      </dt>
      <dd>
        <%= @the_player.phone_number %>
      </dd>

      <dt>
        Twitch
      </dt>
      <dd>
        <a href="<%= @the_player.social_one %>" target="_blank"> Watch <%=@the_player.nickname%> on Twitch </a>
      </dd>

      <dt>
        YouTube
      </dt>
      <dd>
        <a href="<%= @the_player.social_two %>" target="_blank"> Watch <%=@the_player.nickname%> on YouTube </a>
      </dd>

      <dt>
        Twitter
      </dt>
      <dd>
        <a href="<%= @the_player.social_three %>" target="_blank"> Follow <%=@the_player.nickname%> on Twitter </a>
      </dd>

      <dt>
        Liquipedia
      </dt>
      <dd>
        <a href="<%= @the_player.social_four %>" target="_blank"> Read up on <%=@the_player.nickname%> on Liquipedia </a>
      </dd>

<hr>

 <!-- Display total wins and earnings -->
    <div>
      <h2><%= @the_player.nickname %>'s Record</h2>
      <p>Wins: <%= @the_player_wins %></p>
      <p>Losses: <%= @the_player_losses %></p>
    </div>

    <div>
      <h3>Total Earnings</h3>
      <p><%= number_to_currency(@the_player_earnings) %></p>
    </div>

<hr>

<h2><%= @the_player.nickname %>'s Event History</h2>

<table border="1">
  <thead>
    <tr>
      <th>Win/Loss</th>
      <th>Title</th>
      <th>Game</th>
      <th>Funding Goal</th>
      <th>Description</th>
      <th>Winning Team</th>
      <th>Losing Team</th>
      <th>Earnings</th>
    </tr>
  </thead>
  <tbody>
    <% @the_player.event_history_table.each do |row| %>
      <tr>
        <td><%= row["Win/Loss"] %></td>
        <td><%= row["Title"] %></td>
        <td><%= row["Game"] %></td>
        <td><%= row["Funding Goal"] %></td>
        <td><%= row["Description"] %></td>
        <td><%= row["Winning Team"] %></td>
        <td><%= row["Losing Team"] %></td>
        <td><%= number_to_currency(row["Earnings"]) %></td> <!-- Use the number_to_currency helper to format the earnings -->
      </tr>
    <% end %>
  </tbody>
</table>


<hr>

<% if @current_user&.admin? %>

<div>
  <div>
<h2>
  Edit player
</h2>

<form action="/modify_player/<%= @the_player.id %>" method="post">
  <div>
    <label for="nickname_box">
      Nickname
    </label>
    <input type="text" id="nickname_box" name="query_nickname" value="<%= @the_player.nickname %>">
  </div>

  <div>
    <label for="dob_box">
      Dob
    </label>
    <input type="date" id="dob_box" name="query_dob" value="<%= @the_player.dob %>">
  </div>

  <div>
    <label for="bio_box">
      Bio
    </label>
    <textarea id="bio_box" name="query_bio"><%= @the_player.bio %></textarea>
  </div>

  <div>
    <label for="main_game_box">
      Primarily plays?
    </label>
    <select name="query_main_game" id="main_game_box">
      <% @list_of_games.each do |a_game| %>
        <option value="<%= a_game.id %>" <%= 'selected' if @the_player.main_game == a_game.id %> >
          <%= a_game.title %>
        </option>
      <% end %>
    </select>
  </div>


  <!-- Additional Games -->
  <label for="additional_games_box">
    (Optional) Also plays?
  </label>
  <select name="query_additional_games[]" id="additional_games_box" multiple>
    <% @list_of_games.each do |a_game| %>
      <option value="<%= a_game.id %>" <%= 'selected' if @the_player.games.include?(a_game) %> >
        <%= a_game.title %>
      </option>
    <% end %>
  </select>

  <div>
    <label for="event_minimum_box">
      Event minimum
    </label>
    <input type="text" id="event_minimum_box" name="query_event_minimum" value="<%= @the_player.event_minimum %>">
  </div>

  <div>
    <label for="email_box">
      Email
    </label>
    <input type="text" id="email_box" name="query_email" value="<%= @the_player.email %>">
  </div>

  <div>
    <label for="phone_number_box">
      Phone number
    </label>
    <input type="text" id="phone_number_box" name="query_phone_number" value="<%= @the_player.phone_number %>">
  </div>

  <div>
    <label for="twitch_box">
      Twitch
    </label>
    <input type="text" id="twitch_box" name="query_twitch" value="<%= @the_player.social_one %>">
  </div>

  <div>
    <label for="youtube_box">
      YouTube
    </label>
    <input type="text" id="youtube_box" name="query_youtube" value="<%= @the_player.social_two %>">
  </div>

  <div>
    <label for="twitter_box">
      Twitter
    </label>
    <input type="text" id="twitter_box" name="query_twitter" value="<%= @the_player.social_three %>">
  </div>

  <div>
    <label for="liquipedia_box">
      Liquipedia
    </label>
    <input type="text" id="liquipedia_box" name="query_liquipedia" value="<%= @the_player.social_four %>">
  </div>

  <button>
    Update player
  </button>
</form>

  </div>
</div>

<% end %>

<hr>
